.cityList{
    height: 100%;
    padding-top: 45px;
    .navBar .am-navbar-title{
        font-size: 16px;
    }
    .navBar{
        background-color: #f4f4f4;
        color: #333;
        font-size: 12px;
        margin-top: -45px;
    }
     // 城市列表
  .city {
    height: 100%;
    .title {
      font-size: 14px;
      padding: 10px 15px;
      color: #999;
    }

    .name {
      width: 100%;
      height: 50px;
      padding: 0 15px;
      line-height: 50px;
      border-bottom: 1px solid #eeeeee;
      font-size: 16px;
      color: #333;
      background: #fff;
      cursor: pointer;
    }
  }
}